.navbar{
    background-color: rgb(24, 174, 243);
    color: white;
    font-weight: 800;
    height: 60px;
   
}.navbar-brand{
    margin-left: 20px;
    font-size: 30px;
    margin-top: -5px;
}

.home{
     color: white;
     text-decoration: none;
     margin-left: 900px;
     font-size: 20px; 
     font-weight:lighter ;
     
       
}

.perscription{
    color: rgb(230, 221, 221);
    text-decoration: none;
    font-size: 20px; 
    font-weight:lighter ;
}
.perscription:hover{
    color: white;
}

.pre{
    text-align: center;
    margin-left: -50px;
}
.detail{
    margin-top: -50px;
   width: 180px;
   height: 120px ;
}
.container1
{
    width: 180px;
    height: 210px;
    background-color: white;
    margin-top: 80px;
    margin-left: 160px;
    
    border-radius: 30px;
}
.container1:hover{
    background-color: aqua;
}
/* .container2
{
    width: 180px;
    height: 210px;
    background-color: white;
    margin-top: -210px;
    margin-left: 510px;
    
    border-radius: 30px;
}
.container3
{
    width: 180px;
    height: 210px;
    background-color: white;
    margin-top:  -210px;
    margin-left: 840px;
    
    border-radius: 30px;
}
.container4
{
    width: 180px;
    height: 210px;
    background-color: white;
    margin-top:  -210px;
    margin-left: 1150px;
    
    border-radius: 30px;
}
.container5
{
    width: 180px;
    height: 210px;
    background-color: white;
    margin-top: 60px;
    margin-left: 180px;
    
    border-radius: 30px;
}
.container6
{   
    width: 180px;
    height: 210px;
    background-color: white;
    margin-top:  -210px;
    margin-left: 510px;
    
    border-radius: 30px;
}
.container7
{
    width: 180px;
    height: 210px;
    background-color: white;
    margin-top:  -210px;
    margin-left: 840px;
    
    border-radius: 30px;
}
.container8
{
    width: 180px;
    height: 210px;
    background-color: white;
    margin-top: -210px;
    margin-left: 1150px;
    border-radius: 30px;
} */
.image{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-top: 30px;
    margin-right: 20px;
}
.profile{
    height: 60px;
    width: 60px;
    margin-left: -8px;
    margin-top:-3px;
}
.dot{
    margin-top: -90px;
    font-size: 100px;
    margin-left: 130px;
    color: rgb(27, 194, 27);

}
.dotr{
    margin-top: -90px;
    font-size: 100px;
    margin-left: 130px;
    color: rgb(233, 21, 21);
}