<nav class="navbar" >
    <span class="navbar-brand mb-0 h1" > PET PERFECT</span>
    <a class="home" >Home </a>
    <a class="perscription"  href="#">Perscription</a>
    <a class="perscription" href="#">Report</a>
    <a class="perscription" href="#">Logout</a>
</nav>

<a routerLink="/appointment">
<button class="container1">
    <div class="dot">.</div>
    <div class="detail">
        <button class="image" mat-fab>
            <img class="profile" src="../../assets/profile2.png">
        </button>
    </div>
    <pre class="pre" >
       ABC
       8 Years
       Shop Name 
    </pre>
</button></a>

<button class="container1">
    <div class="dot">.</div>
    <div class="detail">
        <button class="image" mat-fab>
            <img class="profile" src="../../assets/profile2.png">
        </button>
    </div>
    <pre class="pre" >
       XYZ
       3 Years
       Shop Name 
    </pre>
</button>
<button class="container1">
    <div class="dotr">.</div>
    <div class="detail">
        <button class="image" mat-fab>
            <img class="profile" src="../../assets/profile2.png">
        </button>
    </div>
    <pre class="pre" >
       DEF
       5 Years
       Shop Name 
    </pre>
</button>
<button class="container1">
    <div class="dot">.</div>
    <div class="detail">
        <button class="image" mat-fab>
            <img class="profile" src="../../assets/profile2.png">
        </button>
    </div>
    <pre class="pre" >
       UVW
       1 Years
       Shop Name 
    </pre>
</button>
<button class="container1">
    <div class="dot">.</div>
    <div class="detail">
        <button class="image" mat-fab>
            <img class="profile" src="../../assets/profile2.png">
        </button>
    </div>
    <pre class="pre" >
       ACC
       8 Years
       Shop Name 
    </pre>
</button>
<button class="container1">
    <div class="dotr">.</div>
    <div class="detail">
        <button class="image" mat-fab>
            <img class="profile" src="../../assets/profile2.png">
        </button>
    </div>
    <pre class="pre" >
       GHI
       2 Years
       Shop Name 
    </pre>
</button>
<button class="container1">
    <div class="dot">.</div>
    <div class="detail">
        <button class="image" mat-fab>
            <img class="profile" src="../../assets/profile2.png">
        </button>
    </div>
    <pre class="pre" >
       OPQ
       4 Years
       Shop Name 
    </pre>
</button>
<button class="container1">
    <div class="dot">.</div>
    <div class="detail">
        <button class="image" mat-fab>
            <img class="profile" src="../../assets/profile2.png">
        </button>
    </div>
    <pre class="pre" >
       ZYX
       1 Years
       Shop Name 
    </pre>
</button>

