<div class="navbar">
    <h1>PET PERFECT</h1>
    </div>
      <div class="container">
        <b><h2>SignUp</h2></b>
       
        
    <hr>
        
        <input type="text" placeholder="Enter Email" required name="email" required>
        <br/>
       
        <input type="text" placeholder="Enter username" name="username" required>
        <br/>
  
  
       
        <input type="text" placeholder="Enter Mobile number" name="Mobile number" required>
        <br/>
    
       
        <input type="password" placeholder="Enter Password" name="psw" required>
        <br/>
    
       
        <input type="password" placeholder="confirm Password" name="psw-confirm" required>
  
        <p>Already a user</p><a href routerLink="/login">Login</a>
  
    
       <div class="clearfix">
          <button type="submit" class="submitbtn">Submit</button>
          </div>
         
        </div>
