<nav class="navbar" >
    <span class="navbar-brand mb-0 h1" > PET PERFECT</span>
    <a class="home" routerLink="/home">Home </a>
    <a class="perscription"  href="#">Perscription</a>
    <a class="perscription" href="#">Report</a>
    <a class="perscription" href="#">Logout</a>
</nav>


<button class="container1">
    <div class="dot">.</div>
    <div class="detail">
        <button class="image" mat-fab>
            <img class="profile" src="../../assets/profile2.png">
        </button>
    </div>
    <pre class="pre" >
       ABC
       8 Years
       Shop Name 
    </pre>
</button>

<button class="container2">
    <div class="dot">.</div>
    <div class="detail">
        <button class="image" mat-fab>
            <img class="profile" src="../../assets/profile2.png">
        </button>
    </div>
    <pre class="pre" >
       XYZ
       3 Years
       Shop Name 
    </pre>
</button>
<button class="container3">
    <div class="dotr">.</div>
    <div class="detail">
        <button class="image" mat-fab>
            <img class="profile" src="../../assets/profile2.png">
        </button>
    </div>
    <pre class="pre" >
       DEF
       5 Years
       Shop Name 
    </pre>
</button>
<br>
<button class="container5">
    <div class="dot">.</div>
    <div class="detail">
        <button class="image" mat-fab>
            <img class="profile" src="../../assets/profile2.png">
        </button>
    </div>
    <pre class="pre" >
       ACC
       8 Years
       Shop Name 
    </pre>
</button>
<button class="container6">
    <div class="dotr">.</div>
    <div class="detail">
        <button class="image" mat-fab>
            <img class="profile" src="../../assets/profile2.png">
        </button>
    </div>
    <pre class="pre" >
       GHI
       2 Years
       Shop Name 
    </pre>
</button>
<br>
<button class="container7">
    <div class="dot">.</div>
    <div class="detail">
        <button class="image" mat-fab>
            <img class="profile" src="../../assets/profile2.png">
        </button>
    </div>
    <pre class="pre" >
       OPQ
       4 Years
       Shop Name 
    </pre>
</button>
<div class="containerap">
    <p class="addappointment">Add Appointment</p>

</div>
