<div class="navbar">
    <h1>PET PERFECT</h1>
    </div>
    
    <form>
        <div class="container">
          <b><h1>Login</h1></b>
          <input type="text" placeholder="Enter Email" name="Email" required>
          <input type="password" placeholder="Enter Password" name="psw" required>  
          <p><b>Newuser?</b><a  href routerLink="/signup">signup</a></p>
          <div class="h1">  
            <button type="login">Login</button>       
            </div>
        </div>
      </form>